{
  "env": {
    "es2021": true,
    "node": true
  },
  "extends": [
    "plugin:@typescript-eslint/recommended",
    "eslint:recommended",
    "prettier"
  ],
  "parser": "@typescript-eslint/parser",
  "rules": {
    "prettier/prettier": "error",
    "@typescript-eslint/indent": ["error", 2]
  },
  "plugins": ["prettier"]
}
